*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4";
  font-size: 1rem;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

input {outline:none;}

button{
  border: 0;
  border-radius: 0.25rem;
  background: none;
}

/* Header */

.container-header {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 9.375rem;
}

.header-logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.header-list {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
}

.header-list-link {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

#episodes-img {
  margin-left: 0.25rem;
}

#donate {
  color: #7247CA;
}

#donate-img {
  height: 0.75rem;
  width: auto;
}


.header-line {
  border-bottom: 1px solid #EAEAEE;
}

/* Main */

.container-main-content{
  margin: 18.375rem 24rem 0 24rem;
}

.container-episode{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.track-avatar{
  width: 11.25rem;
  height: auto;
  margin-bottom: 2.5rem;
}

.main-title{
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container-episode-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #f5f5f7;
  border-radius: 0.25rem
}

.icon-paly-btn{
  height: 0.875rem;
}

.episode-btn{
  margin-left: 0.5rem;
  color: #7247CA;
  font-size: 0.75rem;
  font-weight: 400;
}

.text-listen{
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.main-episod-icons{
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  gap: 1.875rem;
}



/* Footer */

.footer-line{
  margin: 4rem 24rem 0 24rem;
  border-bottom: 1px solid #EAEAEE;
}

.footer-main{
  display: flex;
  justify-content: space-between;
  margin: 4rem 24rem 0 24rem;
}

.footer-menu-item{
  margin-bottom: 1rem;
}

.footer-title{
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer-description{
  color: #555555;
  font-size: 0.75rem;
  margin-bottom: 0.875rem;
}

.footer-email{
  display: flex;
  align-items: center;
  background-color: #f5f5f7;
  border-radius: 0.25rem;
}

#form-email{
  font-size: 0.75rem;
  width: 17.25rem;
  padding: 0.875rem;
  background-color: #f5f5f7;
  border: 0;
  border-radius: 0.25rem;

}

.email-btn{
  width: 2.25rem;
  height: 2.25rem;
  margin-right : 0.25rem;
  border: none;
  background-color: #7247CA;
  background-image: url('../images/footer/arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.25rem;
}

.copy-text{
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 1.5rem;
}

.footer-icons{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}