@import "https://fonts.fontstorage.com/import/sourceserifpro.css";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

input {outline:none;}

textarea{outline: none;}

button{
  border: 0;
  background: none;
}

/* Header */

.container-header {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 9.375rem;
}

.header-logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.header-list-link {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

#episodes-img {
  margin-left: 0.25rem;
}

#donate {
  color: #7247CA;
}

#donate-img {
  height: 0.75rem;
  width: auto;
}


.header-line {
  border-bottom: 1px solid #EAEAEE;
}

/* Main */

.container-main-content{
  margin: 18.375rem 24rem 0 24rem;
}

.container-episode{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.track-avatar{
  width: 11.25rem;
  height: auto;
  margin-bottom: 2.5rem;
}

.main-title{
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container-episode-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #f5f5f7;
  border-radius: 0.25rem
}

.icon-paly-btn{
  height: 0.875rem;
}

.episode-btn{
  margin-left: 0.5rem;
  color: #7247CA;
  font-size: 0.75rem;
  font-weight: 400;
}

.container-timeline{
  display: flex;
}

.timeline-start-time{
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #555555;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.timeline-end-time{
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #555555;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.timeline-download-btn{
  margin-left: 1rem;
}

.container-timeline-line{
  width: 31.25rem;
  height: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 0.125rem;
  background-color: #f5f5f7;
}

.timeline-line{
  width: 8.5rem;
  height: 0.5rem;
  background: #222222;
  border-radius: 0.125rem;
}

.text-listen{
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.main-episod-icons{
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 6.25rem;
  gap: 1.875rem;
}

.container-latest-episodes{
  margin-bottom: 4rem;
}

.latest-episod{
  margin-bottom: 4.375rem;
}

.container-tag{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #979797;
}

.tag-new{
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #7247CA;
  padding: 0.375rem 0.5rem;
  background-color: #f5f5f7;
  border-radius: 0.25rem;
}

.title-latest-episod{
  font-size: 1.375rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.text-latest-episod{
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
}

.container-latest-episod-btn{
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 1rem;
}

.icon-latest-episod{
  height: 1.5rem;
}

.latest-episod-btn{
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #7247CA;
}

.pagination-latest-episod{
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.pagination-link{
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  background-color: #f5f5f7;
  border-radius: 0.25rem;
}

.pagination-arrow-link{
  margin-left: 1.25rem;
}

.container-team-persons{
  display: flex;
  justify-content: space-between;
}

.container-team{
  margin-bottom: 4rem;
  border-radius: 0.25rem;
}

.team-title{
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.625rem;
}

#female-photo{
  transform: scaleX(-1);
}

.team-person{
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #f5f5f7;
}

.container-person-descr{
  margin: 1rem 0 1.25rem 1rem;
}

.position-person{
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #7247CA;
}

.name-person{
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

.media-person-icons{
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1rem;
}

.container-posts{
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #EAEAEE;
}

.posts-title{
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.625rem;
}

.post{
  display: flex;
  margin-bottom: 1.5rem;
}

.container-post-descr{
  margin-left: 2.5rem;
}

.post-title{
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-date{
  font-size: 0.875rem;
  font-weight: 400;
  color: #979797;
  margin-bottom: 2.5rem;
}

.post-btn{
  font-size: 0.875rem;
  font-weight: 600;
  color: #7247CA;
}

.container-posts-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  margin-bottom: 4.125;
  width: 5rem;
  border-radius: 0.25rem;
  background-color: #f5f5f7;
}

.view-posts-btn{
  font-size: 0.875rem;
  color: #7247CA;
}

/* Footer */

.footer-main{
  display: flex;
  justify-content: space-between;
  margin: 4rem 24rem 0 24rem;
}

.footer-menu-item{
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-title{
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.footer-description{
  color: #555555;
  font-size: 0.75rem;
  margin-bottom: 0.875rem;
}

.footer-email{
  display: flex;
  align-items: center;
  background-color: #f5f5f7;
  border-radius: 0.25rem;
}

#form-email{
  font-size: 0.75rem;
  width: 17.25rem;
  padding: 0.875rem;
  background-color: #f5f5f7;
  border: 0;
  border-radius: 0.25rem;

}

.email-btn{
  width: 2.25rem;
  height: 2.25rem;
  margin-right : 0.25rem;
  border: none;
  background-color: #7247CA;
  background-image: url('../images/footer/arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.25rem;
}

.copy-text{
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 1.5rem;
}

.footer-icons{
  display: flex;
  justify-content: center;
  margin-bottom: 3.75rem;
  gap: 1.5rem;
}