.container-timeline{
    display: flex;
}

.timeline-start-time{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #555555;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.timeline-end-time{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #555555;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.timeline-download-btn{
    margin-left: 1rem;
}

.container-timeline-line{
    width: 31.25rem;
    height: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 0.125rem;
    background-color: #f5f5f7;
}

.timeline-line{
    width: 8.5rem;
	height: 0.5rem;
	background: #222222;
    border-radius: 0.125rem;
}