.container-main-content{
    margin-top: 6rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #EAEAEE;
}

.policy-title{
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 2.625rem;

}

.policy-subtitle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.policy-text {
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
}

.policy-list-element{
    display: flex;
    align-items: start;
    gap: 0.625rem;
}

.list-marker{
    margin-top: 0.6rem;
}
